html{
  scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
    max-width: 1000px; 
    margin: auto;
    background-color: #ffffff;
  }
  
  /* Style the body */
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f2f5;
  }

  #read {
    /* display: none; */
    font-weight: bold;
    background-color: #FFBD59;
    color: white;
    padding: 10px 20px;
    text-transform: uppercase;

  }
    
  .header {
    padding: 0px;
    text-align: center;
    background-color: #ffffff;
    color: white;
  }
  
  .navbar {
    z-index: 1;
    overflow: hidden;
    background-color: #ffffff;
    font-weight: bold;
    border-bottom: 5px solid #FFBD59;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #FFBD59;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  }
  
  .navbar a.right {
    float: right;
  }
  
  .navbar a:hover {
    background-color: #FFBD59;
    color: #ffffff;
  }
  
  .navbar a.active {
    background-color: #FFBD59;
    color: #ffffff;
  }
  
  .main {   
    -ms-flex: 70%;
    flex: 70%;
    background-color: white;
    padding: 20px;
  }

  .mainAbout {
    background-color: white;
    padding: 20px;
    text-align: center;
  }

  .title{
      display: inline-block;
      position: relative;
      color: black;
  }

  .title:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;;
    background-color: #FFBD59;
    transform-origin: bottom right;
    transition: transform 0.20s ease-out;
    }

  .title:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  h1, h2 {
    line-height: 2;
    text-align: left;
    font-weight: bold;
    text-transform: capitalize;
  }
  
  h3, h4, h5 {
    line-height: 2;
    text-align: left;
    font-weight: normal;
    text-transform: capitalize;
  }

  p, li {
    line-height: 2;
    text-align: justify;
    text-justify: inter-word;
 }

  a {
  text-decoration: none;
  background-color: transparent;
  color: black;
 }

  .thumbnail {
    background-color: #aaa;
    width: 50%;
    padding: 0px;
  }

  #gotoTop {
    /* display: none; */
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 12px;
    border: none;
    outline: none;
    background-color: #FFBD59;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #gotoTop:hover {
    background-color: #FFBD59;
  }
  
  input, select {
    border: 1px solid #3A3A3A;
    padding: 8px;
    font-size: 14px;
    width: 50%;
  }

  .options{
    justify-content: start;
    width: 20%;
    float: left;
    margin-left: -4%;
  }

  input[type="submit"] {
    padding: 10px 30px;
    margin-left: 200px;
    cursor: pointer;
    font-weight: bold;
    background-color: #FFBD59;
    color: white;
    text-transform: uppercase;
    width: 20%;
  }
  
  label {
    width: 200px;
    display: block;
    float: left;
    align-items: center;
  }

  .radio {
    float: none;
    width: auto;
    line-height: 2;
  }
  
  .row::after {
    content: "";
    display: block;
    clear:both;
  }
  .row {
    margin-bottom: 10px;
    clear: both;
  }
  .footer {
    padding: 20px;
    text-align: center;
    background: #f0f2f5;
    background-color: white;
  }